<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" color="success"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="deleteCity()" color="success">
          <ion-icon class="delete" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div>
    <img src="{{ ville.image }}">
  </div>

  <div class="about-info">
    <h3 class="ion-padding-top ion-padding-start">About</h3>

    <p class="ion-padding-start ion-padding-end">
      {{ ville.desc }}
    </p>

    <h3 class="ion-padding-top ion-padding-start">Details</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          {{ ville.libelle }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{ ville.pays }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-button color="success" shape="round" id="btn" (click)="onClick(ville.libelle)">Consulte voyages</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>