<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <h1>Ajouter Voyage</h1>
    <div class="form">
      <ion-item>
        <ion-input
          placeholder="Ville de départ"
          [(ngModel)]="voyage.vdepart"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Ville d'arrivée"
          [(ngModel)]="voyage.vFin"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="prix" [(ngModel)]="voyage.prix"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="date"
          placeholder="Date de départ"
          [(ngModel)]="voyage.debut"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          type="date"
          placeholder="Date de fin"
          [(ngModel)]="voyage.fin"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="lien de l'image"
          [(ngModel)]="voyage.image"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" shape="round" (click)="addVoyage()"
        >Ajouter Voyage</ion-button
      >
    </div>
  </ion-content>
</ion-app>
