<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-avatar slot="start" routerLink="home">
      <ion-icon name="home"></ion-icon>
    </ion-avatar>
    </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <h1>Reservation</h1>
    <div class="form">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="Nom" [(ngModel)]="currentUser.fullname" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input placeholder="Email" [(ngModel)]="currentUser.email" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="call" slot="start"></ion-icon>
        <ion-input type="tel" placeholder="Telephone" [(ngModel)]="reservation.mobile" required>
        </ion-input>
      </ion-item>
      <ion-item class="btn-valider">
        <ion-button expand="full" shape="round" (click)="addReservation()">Reserve</ion-button>
      </ion-item>
    </div>
  </ion-content>
  <ion-footer>
    <ion-avatar slot="start" routerLink="/home">
    </ion-avatar>
    <ion-icon name="sync-outline" slot="end"></ion-icon>
  </ion-footer>
</ion-app>