<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <h1>Ajouter Ville</h1>
    <div class="form">
      <ion-item >
        <ion-input placeholder="Libelle" [(ngModel)]="ville.libelle"></ion-input>
      </ion-item>
      <ion-item >
        <ion-input placeholder="Pays" [(ngModel)]="ville.pays"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Description" rows="2" [(ngModel)]="ville.desc"></ion-input>
      </ion-item>
      <ion-item>
        <label for="file" class="label-file">importer image</label>
        <input id="file" class="input-file" type="file" (change)="onFileSelected($event)" accept=".jpg,.png,.jpeg">
      </ion-item>
      <ion-button expand="block" shape="round" (click)="addCity()" >Ajouter ville</ion-button>
    </div>
  </ion-content>
</ion-app>